.container{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 15vw;
    /* justify-content:center; */
    border-radius: 1vw;
    color: white;
    

}
.top{
    margin: 0;
    border-bottom: 1px solid rgb(175, 173, 173);
}
.logoimg{background-color: rgb(201, 201, 183);
    height: 6vw;
    width: 6vw;
    border-radius: 50%;

}